.popup__name-field {
  border-left: none;
  border-top: none;
  border-right: none;
  box-sizing: border-box;
  margin-left: 22px;
  margin-right: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}

@media screen and (min-width: 1200px) {
  .popup__name-field {
      margin-left: 36px;
      margin-right: 36px;
      width: 358px;
  }
}
