.popup__title {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 75px;
}

@media screen and (min-width: 1200px) {
    .popup__title {
        font-size: 24px;
      
        line-height: 29px;
    }
}

