.popup-image__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75vw;
    max-height: 75vw;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}