.popup__close-button {
    position: absolute;
    height: 26px;
    width: 26px;
    background-color: transparent;
    border: none;
    background-image: url("../../../images/closepopupicon.svg");
    padding: 0;
    background-size: cover;
    top: -30px;
    right: 0;
    z-index: 2;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 800px) {
    .popup__close-button {
        height: 58px;
        width: 58px;
        top: -50px;
        right: -8%;
    }
}
