.popup__close-button {
    position: absolute;
    height: 26px;
    width: 26px;
    top: -30px;
    right: 0;
    background-color: transparent;
    border:none;
    z-index: 2;
    }
    
    .popup__close-button:hover {
        opacity: .6;
    }
    
    @media screen and (min-width: 800px) {
        .popup__close-button {
            height: 40px;
            width: 40px;
            right: -30px;
            top: -40px;
        }
    }