.element__like-button {
    margin-right: auto;
    margin-left: auto;
    background-image: url('../../../images/vectorlikewhite.svg');
    border:0;
    padding: 0;
    width: 21px;
    height: 18px;
    background-color: transparent;
    background-size: cover;
    /*align-self: center;*/
    background-position: center;
    cursor: pointer;
    margin-top: 22px;
}

.element__like-button:hover {
    opacity: 0.5;
}
